<div id="form_wrapper">
  <form fxFlex fxLayout="column" [formGroup]="phoneForm" (ngSubmit)='submit()'>
    <mat-form-field>
      <input
        [pattern]="'[0-9]{7,10}'"
        required
        formControlName="phone"
        matInput
        type="text"
        name="phone"
        placeholder="Enter Phone Number"
      >
    </mat-form-field>
    <mat-card-actions fxLayoutAlign="center">
      <button fxFlex type="submit" mat-raised-button [color]="'success'" [disabled]="!phoneForm.valid">
        Generate
      </button>
    </mat-card-actions>
  </form>
</div>
